{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" integrity=
            "sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <title>{% block title %} {% endblock %}</title>
</head>

    <a href="https://github.com/Sonny-skyez" title="Authors GitHub" class="github-corner"
        target="_blank" rel="noopener noreferrer">
         <svg width="100" height="100" viewBox="0 0 250 250">
             <title>Authors HitHub</title>
             <path d="M0 0h250v250"></path>
             <path d="M127.4 110c-14.6-9.2-9.4-19.5-9.4-19.5 3-7 1.5-11 1.5-11-1-6.2
             3-2 3-2 4 4.7 2 11 2 11-2.2 10.4 5 14.8 9 16.2" fill="grey"
                   style="transform-origin:130px 110px" class="octo-arm"></path>
             <path d="M113.2 114.3s3.6 1.6 4.7.6l15-13.7c3-2.4 6-3 8.2-2.7-8-11.2-14-25 3-41 4.7-4.4
             10.6-6.4 16.2-6.4.6-1.6 3.6-7.3 11.8-10.7 0 0 4.5 2.7 6.8 16.5 4.3 2.7 8.3 6 12 9.8 3.3
             3.5 6.7 8 8.6 12.3 14 3 16.8 8 16.8 8-3.4 8-9.4 11-11.4 11 0 5.8-2.3 11-7.5 15.5-16.4
             16-30 9-40 .2 0 3-1 7-5.2 11l-13.3 11c-1 1 .5 5.3.8 5z" fill="grey"
                   class="octo-body"></path></svg>
         <style> .github-corner svg{position:absolute;right:0;top:0;mix-blend-mode:darken;
         color:#ffffff;fill:#000000;}.github-corner:hover .octo-arm{animation:octocat-wave .56s;}
         @keyframes octocat-wave{0%, 100%{transform:rotate(0);}20%, 60%{transform:rotate(-20deg);}
         40%, 80%{transform:rotate(10deg);}}</style></a>
        <script>
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'
          http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.
          src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}
          (document, 'script', 'twitter-wjs');
        </script>
    </a>

    <body>



        {% block body %} {% endblock %}



    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4">

      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3">

            <!-- Content -->
            <h5 class="text-uppercase">Aplikacja Polls</h5>
            <p>Aplikacja służy do tworzenia pytań ankietowych i odpowiedzi oraz liczenia ich, posiada
                zautomatyzowane testy w Selenium. Prosta w obsłudze, prosta do rozbudowy.
                Zapraszam do odwiedzenia innych moich projektów.</p>

          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none pb-3">

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">

              <li>
                <a href="https://github.com/Sonny-skyez/Selenium_test_-_Polls_app" target="_blank"
                   rel="noopener noreferrer">Testy w Selenium</a>
              </li>
              <li>
                <a href="https://movie-rater-app.herokuapp.com/main/filmy/" target="_blank"
                   rel="noopener noreferrer">Movie Rater</a>
              </li>
              <li>
                <a href="https://github.com/Sonny-skyez/Py.test_-_Twitter_with_unittests"
                   target="_blank" rel="noopener noreferrer">Twitter i testy
                </a>
              </li>

            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Linki</h5>

            <ul class="list-unstyled">
              <li>
                <a href="{% url 'admin:index' %}">Panel Administracyjny</a>
              </li>
              <li>
                <a href="{% url 'polls:index' %}">Strona główna</a>
              </li>

            </ul>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://github.com/Sonny-skyez"> Krzysztof Brymer</a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->


    </body>
</html>