{% extends 'polls/base.html' %}
{% block title %} {{ question.question_text }} {% endblock %}

{% block body %}

    <h2>{{ question.question_text }}</h2>

    {% if error_message %}
        <p1><strong>{{ error_message }}</strong></p1><br><br>
    {% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label class="btn btn-dark htn-lg" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}

     <br>
     <button type="submit" class="btn btn-light">Głosuj</button>

     <a class="btn btn-light" href="{% url 'polls:index' %}">Powrót</a>

    </form>

{% endblock %}