{% extends 'polls/base.html' %}
{% block title %} Polls - ankiety {% endblock %}
{% load static %}

{% block body %}


    <div class="container">

        <h1 class="text-center">Witam w aplikacji Polls! <br/>Oto kilka ankiet:</h1>


            {% if latest_question_list %}

                <ul class='list-group text-center'>
                    {% for question in latest_question_list %}
                        <li class="list-group-item"><a href="{% url 'polls:detail' question.id %}">
                            {{ question.question_text }}</a></li>
                    {% endfor %}
                </ul>

            {% else %}
                <p>Nie ma żadnych ankiet!</p>
            {% endif %}

    </div>

{% endblock %}