{% extends 'polls/base.html' %}
{% block title %} Polls - ankiety {% endblock %}
{% load static %}

{% block body %}

    <a class="btn btn-light" href="{% url 'admin:index' %}"><i class="fas fa-users-cog" style="font-size: 16px"> Login</i></a>
    <a class="btn btn-dark" target="_blank" rel="noopener noreferrer"
       href="https://github.com/Sonny-skyez/Polls_Django_2.1"><i class="fab fa-github" style="font-size: 17px"> Code</i></a>
    <a class="btn btn-dark" target="_blank" rel="noopener noreferrer"
       href="https://www.linkedin.com/in/krzysztof-brymer/"><i class="fab fa-linkedin" style="font-size: 17px"> LinkedIn</i></a>

    <h1>Witam w aplikacji Polls! <br/> Oto kilka ankiet:</h1>


        {% if latest_question_list %}

            <ul class='list-group' style="width: 600px;">
                {% for question in latest_question_list %}
                    <li class="list-group-item"><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
                {% endfor %}
            </ul>

        {% else %}
            <p>Nie ma żadnych ankiet!</p>
        {% endif %}

    </div>

{% endblock %}