{% extends 'polls/base.html' %}
{% block title %} Indeks ankiet {% endblock %}
{% load static %}

{% block body %}
    <a class="btn btn-light" href="{% url 'admin:index' %}">Login</a>

    <h1>Witam w aplikacji Polls! <br/> Oto kilka ankiet:</h1>

    {% if latest_question_list %}

        <ul>
        {% for question in latest_question_list %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
        </ul>

    {% else %}
        <p>Nie ma żadnych ankiet!</p>
    {% endif %}

{% endblock %}