li a {
    color: White;
    font-size: 20px;
    font-family: 'Arial';
}


body {
    background: grey;
}


h1 {
    font-size: 40px;
    font-family: 'Arial';
}

ul {
    color: White;
    font-size: 20px;
    font-family: 'Arial';
}

form {
    color: White;
    font-size: 20px;
    font-family: 'Arial';
}

p {
    font-family: 'Arial';
    font-size: 17px;
    background-color: white;
    color: grey;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    margin-block-end: 0em;
}

p1 {
    font-family: 'Arial';
    font-size: 17px;
    background-color: white;
    color: grey;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    margin-block-end: 0em;
    }

p3 {
    font-family: 'Arial';
    font-size: 15px;
    background-color: white;
    color: grey;
    padding: 10px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    margin-block-end: 0em;
}