li a {
    color: White;
    font-size: 20px;
    font-family: 'Arial';
}


body {
    background: grey;
}


h1 {
    font-size: 40px;
    font-family: 'Arial';
}

ul {
    color: White;
    font-size: 20px;
    font-family: 'Arial';
}

form {
    color: White;
    font-size: 20px;
    font-family: 'Arial';
}