li a {
    color: #666666;
    font-size: 20px;
    font-family: 'Arial';
}


li a:hover {
    color: black;
    text-decoration: none;
}


html, body {
    background: grey;
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
}


h1 {
    font-size: 40px;
    color: white;
    font-family: 'Arial';
    padding-bottom: 15px;
}


h2 {
    font-size: 30px;
    font-family: 'Arial';
    font-weight: bold;
    padding-bottom: 15px;
    width: 100%;
    color: white;
}


form {
    color: White;
    font-size: 20px;
    font-family: 'Arial';
}


p1 {
    color: Black;
    font-size: 20px;
    font-family: 'Arial';
    background-color: white;
}


.container {
    width: 65%;
    margin: auto;
}


.container-index {
    width: 65%;
    margin: auto;
    margin-bottom: 80px;
}


.list-group {
    width: 100%;
    margin: auto;
}


.list-group-item {
    background-color: #f2f2f2;
}


.table {
    width: 90%;
    margin-bottom: 30px;
}


.page-footer {
    background-color: #f2f2f2;
    display: table-row;
    height: 0;
}


.footer-copyright {
    background-color: #bfbfbf;
}


.fa-power-off {
    color: white;
    padding: 5px;
}


a.fa-power-off:hover {
    color: red;
    text-decoration: none;
}


a.footer-copyright {
    color: red;
}

a.fa-folder-plus {
    color: white;
    text-decoration: none;
}


a.fa-folder-plus:hover {
    color: red;
    text-decoration: none;
}


a.signature {
    color: white;
    text-decoration: none;
}


a.signature:hover {
    color: #404040;
    text-decoration: none;
}


p.no-polls {
    font-size: 20px;
    color: white;
}


.bottom-plus {
    display: flex;
    justify-content:
    flex-end;
    margin-top: 3px;
}